.line{
    display: flex;
    justify-content: space-between;
    width: 36%;
    margin-top: auto;
    margin-bottom: auto;
}

.option{
    text-decoration: none;
    font-size: 16pt;
    color: #4A4A4A;
    letter-spacing: 1px;
    font-weight: lighter;
}

.bold{    
    font-weight: bold;
}
@media only screen and (max-width: 1004px) {
    .line{
        margin: 0 auto; 
        width: 50%;       
        min-width: 280px;
    }
}
@media only screen and (max-width: 350px) {
    .option{
        font-size: 15px;
    }
    .line{
        margin: 0 auto; 
        width: 100%;
        min-width: 100px;
    }
}

